.searchBtn {
    justify-content: center;
    display: flex;
    margin-top: 1em;
  }
  
  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,
  th {
    width: 25%;
  }
  